<div class="testimonial-wrapper">
  <!-- <div class="row">
    <div class="col-12 col-lg-6 mb-4">
      <img src="/assets/img/addresscard.png" alt="Sivra Spaces logo" class="img-fluid">
    </div>
    <div class="col-12  col-lg-6 mb-4 px-5 testimonial-section">
      <div class="section-heading ">
        <p class="heading-line left" />
        <h5 style="color: #F45B1E;">TESTIMONIALS</h5>
        <p class="heading-line right" />
      </div>
      <div class="section-title">
        <h3 style="line-height: 1.4;">
          WORDS FROM <span class="highlight-word">CLIENTS</span>
        </h3>
        <div class="section-title-description w-50">
          <p style="line-height: 1.7;">Construction is a general term meaning the art and science to form
            objects systems organizations.</p>
        </div>
      </div>
      <div class="owl-carousel testimonial-carousel owl-theme mt-4 w-100 w-md-75">
        <div class="testimonial-carousel-card p-4 bg-light rounded">
          <div class="d-flex gap-4">
            <div>
              <img src="/assets/img/footer/testimonials/testimonial1.png" alt="testimonialimage">
            </div>
            <div>
              <p>I had the pleasure of working with on a recent home renovation, and I couldn't be more
                thrilled with the results.</p>
              <h5 style="color: #F45B1E;" class="fw-bold">LOKESH PUTTA</h5>
              <P>Design Specialist</P>
            </div>
          </div>
        </div>
        <div class="testimonial-carousel-card p-4 bg-light rounded">
          <div class="d-flex gap-4">
            <div>
              <img src="/assets/img/footer/testimonials/testimonial1.png" alt="testimonialimage">
            </div>
            <div>
              <p>I had the pleasure of working with on a recent home renovation, and I couldn't be more
                thrilled with the results.</p>
              <h5 style="color: #F45B1E;" class="fw-bold">Ganesh Nimmala</h5>
              <P>Software Engineer</P>
            </div>
          </div>
        </div>
        <div class="testimonial-carousel-card p-4 bg-light rounded">
          <div class="d-flex gap-4">
            <div>
              <img src="/assets/img/footer/testimonials/testimonial1.png" alt="testimonialimage">
            </div>
            <div>
              <p>I had the pleasure of working with on a recent home renovation, and I couldn't be more
                thrilled with the results.</p>
              <h5 style="color: #F45B1E;" class="fw-bold">LOKESH PUTTA</h5>
              <P>Design Specialist</P>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
<div class="get-instant-quote-wrapper">
  <div class="section-title">
    <h3 style="line-height: 1.4;">
      <span style="color: white;">GET INSTANT</span> ESTIMATE
    </h3>
    <div class="section-title-description w-50">
      <p style="line-height: 1.7;">Efficiently unleash cross-media information without cross-media value.
        Quickly maximize timely deliverables for real-time schemas.</p>
    </div>
    <div class="btn btn-dark" id="get-instant-estimate-btn">View More <span><i class="bi bi-arrow-right"></i></span></div>

  </div>
  <div class="go-to-top">
    <a href="#top"><img src="/assets/img/footer/instantquote/arrowUp.png" alt="arrow up" /></a>
  </div>
</div>
<div class="footer-navigation px-5 py-3" style="background-color: #132023;">
  <div class="footer-nav-wrapper">
    <div class="row ">
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-5 footer-address-wrapper d-flex flex-column">
        <div class="footer-logo">
          <img src="/assets/img/SS.png" alt="footerlogo">
          <p>Interior Design Company</p>
        </div>
        <div class="footer-address d-flex gap-4 mt-3">
          <div><img src="/assets/img/footer/footernav/address-icon.png" alt="address icon"></div>
          <div>
            <p>3-11-54, Near KL Reddy Community Hall, KL Reddy nagar, Mallapur, Hyderabad, TG-500072</p>
          </div>
        </div>
        <div class="footer-phone-number d-flex gap-4 mt-3">
          <div><img src="/assets/img/footer/footernav/phone-icon.png" alt="phone icon"></div>
          <div><span><a href="tel:+919133132333" style="text-decoration: none; color: rgb(255, 255, 255);">+91 91331 32333, </a></span><span><a href="tel:+918106037771"
                style="text-decoration: none; color: rgb(255, 255, 255);"></a></span></div>
        </div>
        <div class="footer-mail d-flex gap-4 mt-3">
          <div><img src="/assets/img/footer/footernav/mail-icon.png" alt="mail icon"></div>
          <div><span><a href="mailto:sivraspaces.interiors@gmail.com"
                style="text-decoration: none; color: rgb(255, 255, 255);">sivraspaces.interiors@gmail.com</a></span>
          </div>
        </div>
      </div>
      <!-- <div class="col-12 col-sm-12 col-md-4 col-lg-3 mb-5 footer-services-wrapper d-flex flex-column ">
        <div>
          <h5 style="color: white;">What We Offer</h5>
          <a href="/services/interior-design">Kitchen Interiors</a>
          <a href="/services/construction">Wardrobe & TV Units</a>
          <a href="/services/interior-design">False Ceiling</a>
          <a href="/services/construction">UPVC Windows</a>
          <a href="/services/interior-design">Pooja Units</a>
          <a href="/services/interior-design">Cup Board Works</a>
          <a href="/services/interior-design">Painting & Plumbing</a>
          <a href="/services/marketing">Real Estate</a>
        </div>

      </div> -->
      <div class="col-12 col-sm-12 col-md-4 col-lg-4  mb-5 footer-quick-links-wrapper d-flex flex-column ">
        <div>
          <h5 style="color: white;">Quick Links</h5>
          <a href="/">Home</a>
          <a href="/about">About Us</a>
          <a href="/services/interior-design">Services</a>
          <a href="/contactus">Contact us</a>
        </div>

      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 footer-social-media-links-wrapper d-flex flex-column align-items-center">
        <div>
          <h5 style="color: white;">Connect with us</h5>
          <div class="d-flex gap-3 mt-4">
            <div><a href="https://www.facebook.com/profile.php?id=61584391643754" target="_blank"><img src="/assets/img/footer/footernav/fb-icon.png" alt="fb icon" width="70%"/></a></div>
            <div><a href="https://wa.me/919133132333" target="_blank"><img src="/assets/img/footer/footernav/whatsapp-icon.png" alt="whatsapp icon" width="70%"/></a></div>
            <div><a href="https://www.instagram.com/sivra_elegant_interiors/" target="_blank"><img src="/assets/img/footer/footernav/instagram-icon.png" alt="instagram icon" width="70%"/></a></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="footer-copyright px-5 py-3 d-flex justify-content-center" style="background-color: #132023;">
  <p style="color: white;">©2026 Copyright. Sivra Spaces. All Rights Reserved.</p>
</div>