<div id="contact" class="contact">
  <form action=""  role="form" class="email-form" id="contactForm">
    <div class="row">
      <div class="form-group col-12 col-md-6">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" id="name" required />
      </div>
      <div class="form-group col-12 col-md-6">
        <label for="name">Email</label>
        <input type="email" class="form-control" name="email" id="email" required />
      </div>
    </div>

    <div class="row">
      <div class="form-group  col-12 col-md-6">
        <label for="name">Mobile Number</label>
        <input type="number" class="form-control" name="mobile" id="mobile" required />
      </div>

      <div class="form-group col-12 col-md-6">
        <label for="name">Service Interested</label>
        <select name="serviceinterested" id="serviceinterested" >
          <option value="" selected disabled>Select Service Interested</option>
          <option value="Kitchen Interiors">Kitchen Interiors</option>
          <option value="Wardrobe">Wardrobe</option>
          <option value="TV Unit">TV Unit</option>
          <option value="Cup Board Works">Cup Board Works</option>
          <option value="Pooja Unit">Pooja Unit</option>
          <option value="UPVC Windows">UPVC Windows</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="name">Message</label>
      <textarea class="form-control" name="message" id="message" rows="7" required></textarea>
    </div>

    <div id="spinner" style="display: flex; justify-content: center"></div>
    <div id="successMessage"
      style="display: flex; justify-content: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: green; padding: 5px 0px">
    </div>

    <div id="failureMessage"
      style="display: flex; justify-content: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: red; padding: 5px 0px">
    </div>

    <div class="text-center">
      <button type="submit">Send Message</button>
    </div>
  </form>
</div>