<div class="get-a-quote-sticker-text" id="get-a-quote-sticker-text">
    GET A QUOTE
</div>
   <div class="social-media-icons-group mt-4">
     <div class="d-flex flex-column gap-3">
       <div><a href="https://api.whatsapp.com/send/?phone=919133132333" target="_blank"><img src="/assets/img/footer/footernav/whatsapp-icon.png" alt="whatsapp icon" width="70%"/></a></div>
     </div>
</div>