<div class="get-a-quote-sticker-text" id="get-a-quote-sticker-text">
    GET A QUOTE
</div>
   <div class="social-media-icons-group mt-4">
     <div class="d-flex flex-column gap-3">
       <div><img src="/assets/img/footer/footernav/fb-icon.png" alt="fb icon" width="70%"/></div>
       <!-- <div><img src="/assets/img/footer/footernav/twitter-icon.png" alt="twitter icon" /></div> -->
       <div><a href="https://api.whatsapp.com/send/?phone=919133132333" target="_blank"><img src="/assets/img/footer/footernav/whatsapp-icon.png" alt="whatsapp icon" width="70%"/></a></div>
       <div><a href="https://www.instagram.com/atl__interiors?igsh=NDRoMG9oM3h2NHdr" target="_blank"><img src="/assets/img/footer/footernav/instagram-icon.png" alt="instagram icon" width="70%"/></a></div>
       <!-- <div><img src="/assets/img/footer/footernav/linkdin-icon.png" alt="linkdin icon" /></div> -->
     </div>
</div>