<div class="get-a-quote-sticker-text" id="get-a-quote-sticker-text">
    GET A QUOTE
</div>
   <div class="social-media-icons-group mt-4">
     <div class="d-flex flex-column gap-3">
       <div><a href="https://www.facebook.com/profile.php?id=61584391643754" target="_blank"><img src="/assets/img/footer/footernav/fb-icon.png" alt="fb icon" width="70%"/></a></div>
       <div><a href="https://wa.me/919133132333" target="_blank"><img src="/assets/img/footer/footernav/whatsapp-icon.png" alt="whatsapp icon" width="70%"/></a></div>
       <div><a href="https://www.instagram.com/sivra_elegant_interiors/" target="_blank"><img src="/assets/img/footer/footernav/instagram-icon.png" alt="instagram icon" width="70%"/></a></div>
     </div>
</div>