<header id="header" class="d-flex align-items-center header-transparent justify-content-between px-5">
  <!--  image logo -->
  <div><a href="/" class="logo"><img src="/assets/img/SS.png" alt="logo" /></a></div>
  <div class="expanded-nav">
    <nav id="navbar" class="navbar">
      <ul>
        <li>
          <a class="nav-link scrollto" href="/">Home</a>
        </li>
        <li>
          <a class="nav-link scrollto" href="/about">About Us</a>
        </li>
        <li class="dropdown">
          <a class="nav-link scrollto" href="#">Services</a>
          <div class="submenu">
            <div>
              <a class="nav-link scrollto" href="/services/interior-design">Kitchen Interiors</a>
            </div>
            <div>
              <a class="nav-link scrollto" href="/services/construction">Wardrobe & TV Units</a>
            </div>
            <div>
              <a class="nav-link scrollto" href="/services/interior-design">False Ceiling</a>
            </div>
            <div>
              <a class="nav-link scrollto" href="/services/construction">UPVC Windows</a>
            </div>
          </div>
        </li>
        <li>
          <a class="nav-link scrollto" href="/services/marketing">Real Estate</a>
        </li>
        <li>
          <a class="nav-link scrollto" href="/contactus">Contact Us</a>
        </li>
      </ul>
      <!-- <i class="bi bi-list mobile-nav-toggle"></i> -->
    </nav>
  </div>
  <div class="menu-bar-icon">
    <i class="bi bi-list" id="mobile-menu-bar-expand-icon"></i>
  </div>
  <!-- .navbar -->
</header>