<header id="header" class="d-flex align-items-center header-transparent justify-content-between px-5">
  <!--  image logo -->
  <div><a href="/" class="logo"><img src="/assets/img/SS.png" alt="logo" /></a></div>
  <div class="expanded-nav">
    <nav id="navbar" class="navbar">
      <ul>
        <li>
          <a class="nav-link scrollto" href="/">Home</a>
        </li>
        <li>
          <a class="nav-link scrollto" href="/about">About Us</a>
        </li>
        <li class="dropdown">
          <a class="nav-link scrollto" href="/services/interior-design">Services <i class="bi bi-chevron-down" style="font-size: 0.75rem;"></i></a>
          <div class="submenu">
            <div>
              <a class="nav-link scrollto" href="/services/kitchen-interiors">Kitchen Interiors</a>
            </div>
            <div>
              <a class="nav-link scrollto" href="/services/wardrobe">Wardrobe</a>
            </div>
            <div>
              <a class="nav-link scrollto" href="/services/tv-unit">TV Unit</a>
            </div>
            <div>
              <a class="nav-link scrollto" href="/services/cupboard-works">Cupboard Works</a>
            </div>
            <div>
              <a class="nav-link scrollto" href="/services/pooja-unit">Pooja Unit</a>
            </div>
            <div>
              <a class="nav-link scrollto" href="/services/upvc-windows">UPVC Windows</a>
            </div>
          </div>
        </li>
        <li>
          <a class="nav-link scrollto" href="/contactus">Contact Us</a>
        </li>
      </ul>
      <!-- <i class="bi bi-list mobile-nav-toggle"></i> -->
    </nav>
  </div>
  <div class="menu-bar-icon">
    <i class="bi bi-list" id="mobile-menu-bar-expand-icon"></i>
  </div>
  <!-- .navbar -->
</header>