<div class="latest-work-wrap">
    <div class="section-heading ">
      <p class="heading-line left" />
      <h5 style="color: #F45B1E;">LATEST WORKS</h5>
      <p class="heading-line right" />
    </div>
    <div class="section-title">
      <h3 style="text-align: center; line-height: 1.4;">
        EXPLORE OUR <span class="highlight-word">CASE STUDIES &</span> <br />LATEST SUCCESS STORIES
      </h3>
    </div>
    <div class="section-title-description">
      <p>It’s always a joy to hear that the work I do has positively impacted our clients and that they are
        happy to share their experience.</p>
    </div>
    <!-- <div class="image-category-tabs">
      <p>ALL</p>
      <P>CONSTRUCTIONS</P>
      <P>COMMERCIAL INTERIOR</P>
      <P>RESIDENTIAL INTERIOR</P>
      <P>LANDSCAPE</P>
    </div> -->
    <div class="image-gallery">
      <div class="row">
        <div class="col-4 ">
          <div class="top-image">
            <img src="/assets/img/latest-work/residential1.png" alt="construction work" class="img-fluid">
          </div>
          <div class="bottom-image">
            <img src="/assets/img/latest-work/residential2.png" alt="residential interior design"
              class="img-fluid">
          </div>

        </div>
        <div class="col-4">
          <div class="top-image">
            <img src="/assets/img/latest-work/commercial1.png" alt="commercial space design" class="img-fluid">
          </div>
          <div class="bottom-image">
            <img src="/assets/img/latest-work/landscape1.png" alt="landscape design" class="img-fluid">
          </div>

        </div>
        <div class="col-4">
          <div class="top-image">
            <img src="/assets/img/latest-work/residential1.png" alt="residential interior design"
              class="img-fluid">
          </div>
          <div class="bottom-image">
            <img src="/assets/img/latest-work/landscape2.png" alt="landscape design" class="img-fluid">
          </div>

        </div>

      </div>
    </div>

  </div>