<div class="mobile-drawer">
  <nav>
    <ul>
      <li class="mb-5"><img src="/assets/img/SS.png" alt="logo" width="200px"></li>
      <li><a href="/"><i class="bi bi-house"></i><span>Home</span></a></li>
      <li><a href="/about"><i class="bi bi-person"></i><span>About Us</span></a></li>
      <div class="mobile-nav-services-dropdown" id="mobile-nav-services-dropdown">
        <li><a href="#"><i class="bi bi-gear"></i><span>Services</span><span><img src="/assets/img/icon/down-arrow.png" alt="downarroe" width="15px"></span></a></li>
        <div class="mobilenav-submenu" id="mobilenav-submenu">
          <li style="margin-bottom: 5px !important;"><a href="/services/interior-design"><span>Kitchen Interiors</span></a></li>
          <li style="margin-bottom: 5px !important;"><a href="/services/construction"><span>Wardrobe & TV Units</span></a></li>
          <li style="margin-bottom: 5px !important;"><a href="/services/interior-design"><span>False Ceiling</span></a></li>
          <li style="margin-bottom: 5px !important;"><a href="/services/construction"><span>UPVC Windows</span></a></li>
        </div>
      </div>

      <li><a href="/services/marketing"><i class="bi bi-house-door"></i><span>Real Estate</span></a></li>
      <li><a href="/contactus"><i class="bi bi-telephone"></i><span>Contact Us</span></a></li>

    </ul>
  </nav>
  <div class="back-arrow" id="back-arrow">
    <i class="bi bi-arrow-left-short"></i>
  </div>
</div>