<div class="mobile-drawer">
  <nav>
    <ul>
      <li class="mb-5"><img src="/assets/img/SS.png" alt="logo" width="200px"></li>
      <li><a href="/"><i class="bi bi-house"></i><span>Home</span></a></li>
      <li><a href="/about"><i class="bi bi-person"></i><span>About Us</span></a></li>
      <li class="mobile-nav-dropdown">
        <div class="mobile-nav-dropdown-toggle" id="mobile-services-toggle">
          <a href="/services/interior-design"><i class="bi bi-gear"></i><span>Services</span></a>
          <i class="bi bi-chevron-down mobile-chevron" id="mobile-services-chevron"></i>
        </div>
        <ul class="mobile-nav-submenu" id="mobile-services-submenu">
          <li><a href="/services/kitchen-interiors"><i class="bi bi-cup-hot"></i><span>Kitchen Interiors</span></a></li>
          <li><a href="/services/wardrobe"><i class="bi bi-grid"></i><span>Wardrobe</span></a></li>
          <li><a href="/services/tv-unit"><i class="bi bi-tv"></i><span>TV Unit</span></a></li>
          <li><a href="/services/cupboard-works"><i class="bi bi-briefcase"></i><span>Cupboard Works</span></a></li>
          <li><a href="/services/pooja-unit"><i class="bi bi-house-heart"></i><span>Pooja Unit</span></a></li>
          <li><a href="/services/upvc-windows"><i class="bi bi-window"></i><span>UPVC Windows</span></a></li>
        </ul>
      </li>
      <li><a href="/contactus"><i class="bi bi-telephone"></i><span>Contact Us</span></a></li>

    </ul>
  </nav>
  <div class="back-arrow" id="back-arrow">
    <i class="bi bi-arrow-left-short"></i>
  </div>
</div>