<div class="mobile-drawer">
  <nav>
    <ul>
      <li class="mb-5"><img src="/assets/img/SS.png" alt="logo" width="200px"></li>
      <li><a href="/"><i class="bi bi-house"></i><span>Home</span></a></li>
      <li><a href="/about"><i class="bi bi-person"></i><span>About Us</span></a></li>
      <li><a href="/services/interior-design"><i class="bi bi-gear"></i><span>Services</span></a></li>
      <li><a href="/contactus"><i class="bi bi-telephone"></i><span>Contact Us</span></a></li>

    </ul>
  </nav>
  <div class="back-arrow" id="back-arrow">
    <i class="bi bi-arrow-left-short"></i>
  </div>
</div>