<section>
  <div class="whatsapp&callbutton">
    <a href="https://wa.me/9704191113" target="_blank" class="whatsapp-button">
      <img src="/assets/img/whatsapp.png" alt="WhatsApp" width="100px" />
    </a>
  </div>
</section>
